body {
    width: 300px;
    height: 500px;
}

.github {
    color: black;
    text-decoration: none;
}

.github a:hover {
    color: blueviolet;
}

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem;
    /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.switch-container {
    position: relative;
}

.switch-label {
    position: relative;
}


.on-label {
    margin-left: 5px;
}



/**
FOOTER
**/
:root {
    --border-color: white;
}


@keyframes typing {
    0% { width: 0; }
    100% { width: 57%; }
}
  
@keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: var(--border-color); }
}

.typewriter {
    border-right: .15em solid var(--border-color);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    animation:
        typing 3.5s steps(40, end),
        blink .75s step-end infinite;
}

#heart {
    color: white;
}

  